:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light-letters);
  background-color: var(--dark-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-background: #242424;
  --dark-name-input: #6b6b6b;
  --light-letters: white;
  --invert: none;
  --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
  --slider-color: #ccc;
  --monster-red: darkred;
  --turn-highlight: rgb(87, 5, 5);
}

@media (prefers-color-scheme: light)
{
  :root{
      --dark-background: #f3f3fc;
      --dark-name-input: #e9e9e9;
      --light-letters: black;
      --invert: invert(1);
      --invert-click: none;
      --slider-color: #4b4b4b;
      --monster-red: rgb(214, 161, 161);
      --turn-highlight: rgb(240, 115, 115);
  }
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
